
<!-- Search start -->
<div class="searchwrap">
  <div class="container">
    <h3>ليه تلف وتحتار فاترينا هتساعدك تختار</h3>
    <p>ابحث عن اى نشاط (تجارى - صناعى - خدمى - ترفيهى) وخلى صباحك فاترينا</p>
    <div class="searchbar row">
      <div class="col-xs-8 col-md-push-1">
        <input type="text" class="form-control" placeholder="ابحث هنا عن اي شيء تحتاج إليه" />
      </div>
      <div class="col-md-2 col-xs-4 col-md-push-1">
        <!--<select class="form-control">-->
        <!--  <option>اختر مدينة</option>-->
        <!--  <option>القاهرة</option>-->
        <!--  <option>اسكندرية</option>-->
        <!--  <option>اسوان</option>-->
        <!--  <option>مطروح</option>-->
        <!--</select>-->
        
        <botton class="look">ابحث</botton>
      </div>
      
      <div class="col-md-12 col-xs-8 col-xs-offset-1">
          
          <div class="anch">
              <a href="#myModal" role="button" data-toggle="modal">بحث متقدم</a>
          </div>
          
          <div class="sec-guide">
              <a href="vatrena-sections.html">دليل اقسام فاترينا</a>
          </div>
          
      </div>
      
      <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <section class="modal-content">
                <div class="row">
                    
                    <div class="col-md-5 col-xs-12">
                        <div class="right-col">
                            <h4>ابحث عن</h4>
                            <ul>
                                <li><a href="#">اسم الشركة</a></li>
                                <li><a href="#">كلمة البحث</a></li>
                                <li><a href="#">العلامات التجارية</a></li>
                                <li><a href="#">التصنيف</a></li>
                                <li><a href="#">رقم التليفون</a></li>
                                <li><a href="#">العنوان</a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-md-7 col-xs-12">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <div class="left-col">
                            <form action="#" method="post">
                                <label>ابحث عن</label>
                                <input type="search" name="search">
                                
                                <label>المدينة</label>
                                <select>
                                  <option>اختر مدينة</option>
                                  <option>القاهرة</option>
                                  <option>اسكندرية</option>
                                  <option>اسوان</option>
                                  <option>مطروح</option>
                                </select>
                                
                                <label>المنطقة</label>
                                <select>
                                  <option>اختر المنطقة</option>
                                  <option>مدينة نصر</option>
                                  <option>المعادي</option>
                                  <option>المعصرة</option>
                                  <option>حلوان</option>
                                </select>
                                
                                <label>الحي</label>
                                <select>
                                  <option>اختر الحي</option>
                                  <option>مدينة نصر</option>
                                  <option>المعادي</option>
                                  <option>المعصرة</option>
                                  <option>حلوان</option>
                                </select>
                                
                                <button class="sub" type="submit">
                                    <i class="fa fa-search fa-lg"></i>
                                </button>
                                
                            </form>
                            
                            <a href="vatrena-sections.html" class="sec-anch">دليل اقسام فاترينا</a>
                            
                        </div>
                    </div>
                    
                </div>
            </section>
        </div>
    </div>
      
<!--
      <div class="col-md-2">
        <input type="submit" class="btn" value="Search Ad">
      </div>
-->
    </div>
  </div>
</div>
<!-- Search End --> 

<!-- Featured Ads start -->
<div class="section">
  <div class="container"> 
    <!-- title start -->
    <div class="titleTop">
      <h3 class="tth">اقسام <span>مميزة</span></h3>
<!--      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc varius, orci id facilisis egestas, neque purus sagittis arcu, nec maximus quam odio nec elit Pellentesque eget ipsum mattis</p>-->
    </div>
    <!-- title end -->
    
    <ul class="gridlist itemgrid">
      <li class="item">
        <div class="adimg"><a href="#"><img src="images/ads/01.jpg" alt=""></a></div>
        <div class="innerad top">
          <h3><a href="#">اثاث مكتبي ومنزلي 1</a></h3>
<!--
          <div class="row location">
            <div class="col-md-6 right"><i class="fa fa-map-marker" aria-hidden="true"></i> Atlanta, GA</div>
            <div class="col-md-6 right"><i class="fa fa-clock-o" aria-hidden="true"></i> 2:49 pm</div>
          </div>
          <div class="price">$206.90</div>
-->
        </div>
      </li>
      <li class="item">
        <div class="adimg"><a href="#"><img src="images/ads/02.jpg" alt=""></a></div>
        <div class="innerad top">
          <h3><a href="#">اثاث مكتبي ومنزلي 1</a></h3>
<!--
          <div class="row location">
            <div class="col-md-6 right"><i class="fa fa-map-marker" aria-hidden="true"></i> Atlanta, GA</div>
            <div class="col-md-6 right"><i class="fa fa-clock-o" aria-hidden="true"></i> 2:49 pm</div>
          </div>
          <div class="price">$206.90</div>
-->
        </div>
      </li>
      <li class="item">
        <div class="adimg"><a href="#"><img src="images/ads/03.jpg" alt=""></a></div>
        <div class="innerad top">
          <h3><a href="#">اثاث مكتبي ومنزلي 1</a></h3>
<!--
          <div class="row location">
            <div class="col-md-6 right"><i class="fa fa-map-marker" aria-hidden="true"></i> Atlanta, GA</div>
            <div class="col-md-6 right"><i class="fa fa-clock-o" aria-hidden="true"></i> 2:49 pm</div>
          </div>
          <div class="price">$206.90</div>
-->
        </div>
      </li>
      <li class="item">
        <div class="adimg"><a href="#"><img src="images/ads/04.jpg" alt=""></a></div>
        <div class="innerad top">
          <h3><a href="#">اثاث مكتبي ومنزلي 1</a></h3>
<!--
          <div class="row location">
            <div class="col-md-6 right"><i class="fa fa-map-marker" aria-hidden="true"></i> Atlanta, GA</div>
            <div class="col-md-6 right"><i class="fa fa-clock-o" aria-hidden="true"></i> 2:49 pm</div>
          </div>
          <div class="price">$206.90</div>
-->
        </div>
      </li>
      <li class="item">
        <div class="adimg"><a href="#"><img src="images/ads/01.jpg" alt=""></a></div>
        <div class="innerad top">
          <h3><a href="#">اثاث مكتبي ومنزلي 1</a></h3>
<!--
          <div class="row location">
            <div class="col-md-6 right"><i class="fa fa-map-marker" aria-hidden="true"></i> Atlanta, GA</div>
            <div class="col-md-6 right"><i class="fa fa-clock-o" aria-hidden="true"></i> 2:49 pm</div>
          </div>
          <div class="price">$206.90</div>
-->
        </div>
      </li>
      <li class="item">
        <div class="adimg"><a href="#"><img src="images/ads/02.jpg" alt=""></a></div>
        <div class="innerad top">
          <h3><a href="#">اثاث مكتبي ومنزلي 1</a></h3>
<!--
          <div class="row location">
            <div class="col-md-6 right"><i class="fa fa-map-marker" aria-hidden="true"></i> Atlanta, GA</div>
            <div class="col-md-6 right"><i class="fa fa-clock-o" aria-hidden="true"></i> 2:49 pm</div>
          </div>
          <div class="price">$206.90</div>
-->
        </div>
      </li>
      <li class="item">
        <div class="adimg"><a href="#"><img src="images/ads/03.jpg" alt=""></a></div>
        <div class="innerad top">
          <h3><a href="#">اثاث مكتبي ومنزلي 1</a></h3>
<!--
          <div class="row location">
            <div class="col-md-6 right"><i class="fa fa-map-marker" aria-hidden="true"></i> Atlanta, GA</div>
            <div class="col-md-6 right"><i class="fa fa-clock-o" aria-hidden="true"></i> 2:49 pm</div>
          </div>
          <div class="price">$206.90</div>
-->
        </div>
      </li>
      <li class="item">
        <div class="adimg"><a href="#"><img src="images/ads/04.jpg" alt=""></a></div>
        <div class="innerad top">
          <h3><a href="#">اثاث مكتبي ومنزلي 1</a></h3>
<!--
          <div class="row location">
            <div class="col-md-6 right"><i class="fa fa-map-marker" aria-hidden="true"></i> Atlanta, GA</div>
            <div class="col-md-6 right"><i class="fa fa-clock-o" aria-hidden="true"></i> 2:49 pm</div>
          </div>
          <div class="price">$206.90</div>
-->
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- Featured Ads end --> 

<!-- Categories start -->
<!--<div class="section catewrap">-->
<!--  <div class="container"> -->
    <!-- title start -->
<!--    <div class="titleTop">-->
<!--      <h3 class="tth">الاقسام <span>الرئيسية</span></h3>-->
<!--      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc varius, orci id facilisis egestas, neque purus sagittis arcu, nec maximus quam odio nec elit Pellentesque eget ipsum mattis</p>-->
<!--    </div>-->
<!--    <ul class="categoryList row">-->
<!--      <li class="col-md-2 col-sm-3 col-xs-6"><a href="#"><img src="images/category/01.png" alt="Cate Img" /> <span>Vehicles <i>(598)</i></span></a></li>-->
<!--      <li class="col-md-2 col-sm-3 col-xs-6"><a href="#"><img src="images/category/02.png" alt="Cate Img" /> <span>Mobiles <i>(598)</i></span></a></li>-->
<!--      <li class="col-md-2 col-sm-3 col-xs-6"><a href="#"><img src="images/category/03.png" alt="Cate Img" /> <span>Electronics <i>(598)</i></span></a></li>-->
<!--      <li class="col-md-2 col-sm-3 col-xs-6"><a href="#"><img src="images/category/04.png" alt="Cate Img" /> <span>Furniture <i>(598)</i></span></a></li>-->
<!--      <li class="col-md-2 col-sm-3 col-xs-6"><a href="#"><img src="images/category/05.png" alt="Cate Img" /> <span>Jobs <i>(598)</i></span></a></li>-->
<!--      <li class="col-md-2 col-sm-3 col-xs-6"><a href="#"><img src="images/category/06.png" alt="Cate Img" /> <span>Real Estate <i>(598)</i></span></a></li>-->
<!--      <li class="col-md-2 col-sm-3 col-xs-6"><a href="#"><img src="images/category/07.png" alt="Cate Img" /> <span>Services <i>(598)</i></span></a></li>-->
<!--      <li class="col-md-2 col-sm-3 col-xs-6"><a href="#"><img src="images/category/08.png" alt="Cate Img" /> <span>Education <i>(598)</i></span></a></li>-->
<!--      <li class="col-md-2 col-sm-3 col-xs-6"><a href="#"><img src="images/category/09.png" alt="Cate Img" /> <span>Pets <i>(598)</i></span></a></li>-->
<!--      <li class="col-md-2 col-sm-3 col-xs-6"><a href="#"><img src="images/category/10.png" alt="Cate Img" /> <span>Fashion <i>(598)</i></span></a></li>-->
<!--      <li class="col-md-2 col-sm-3 col-xs-6"><a href="#"><img src="images/category/11.png" alt="Cate Img" /> <span>Baby Products <i>(598)</i></span></a></li>-->
<!--      <li class="col-md-2 col-sm-3 col-xs-6"><a href="#"><img src="images/category/12.png" alt="Cate Img" /> <span>Sports <i>(598)</i></span></a></li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</div>-->
<!-- Categories ends --> 

<!-- Start Banners -->

<div class="banners first">
        <div class="container">
            <div class="row">
                
                <div class="col-md-6 col-xs-12">
                    <div class="wideBanner margintop40  right-banner"><img src="images/banners.png" alt=""></div>
                </div>

                <div class="col-md-3 col-xs-12">
                    <div class="wideBanner margintop40  middle-banner"><img src="images/banners.png" alt=""></div>
                </div>

                <div class="col-md-3 col-xs-12">
                    <div class="wideBanner margintop40  left-banner"><img src="images/banners.png" alt=""></div>
                </div>
                
            </div>
        </div>
    </div>

<!-- End Banners -->

<!-- Latest Ads start -->
<div class="section">
  <div class="container"> 
    <!-- title start -->
    <div class="titleTop">
      <h3 class="tth">فاترينا <span>مميزة</span></h3>
<!--      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc varius, orci id facilisis egestas, neque purus sagittis arcu, nec maximus quam odio nec elit Pellentesque eget ipsum mattis</p>-->
    </div>
    <!-- title end -->
    
    <ul class="row gridlist">
      <li class="col-md-3 col-sm-6">
        <div class="adimg"><a href="#"><img src="images/ads/01.jpg" alt=""></a></div>
        <div class="innerad">
          <h3><a href="#">محل جاليري احمد فؤاد للاثاث</a></h3>
          <div class="row location">
            <div class="col-xs-12 right"> مدينة نصر , القاهرة , مصر <i class="fa fa-tag" aria-hidden="true"></i></div>
            <div class="col-xs-12 right">محلات ملابس <i class="fa fa-map-marker" aria-hidden="true"></i></div>
          </div>
<!--          <div class="price">$206.90</div>-->
        </div>
      </li>
      <li class="col-md-3 col-sm-6">
        <div class="adimg"><a href="#"><img src="images/ads/02.jpg" alt=""></a></div>
        <div class="innerad">
          <h3><a href="#">محل جاليري احمد فؤاد للاثاث</a></h3>
          <div class="row location">
            <div class="col-xs-12 right"> مدينة نصر , القاهرة , مصر <i class="fa fa-tag" aria-hidden="true"></i></div>
            <div class="col-xs-12 right">محلات ملابس <i class="fa fa-map-marker" aria-hidden="true"></i></div>
          </div>
<!--          <div class="price">$206.90</div>-->
        </div>
      </li>
      <li class="col-md-3 col-sm-6">
        <div class="adimg"><a href="#"><img src="images/ads/03.jpg" alt=""></a></div>
        <div class="innerad">
          <h3><a href="#">محل جاليري احمد فؤاد للاثاث</a></h3>
          <div class="row location">
            <div class="col-xs-12 right"> مدينة نصر , القاهرة , مصر <i class="fa fa-tag" aria-hidden="true"></i></div>
            <div class="col-xs-12 right">محلات ملابس <i class="fa fa-map-marker" aria-hidden="true"></i></div>
          </div>
<!--          <div class="price">$206.90</div>-->
        </div>
      </li>
      <li class="col-md-3 col-sm-6">
        <div class="adimg"><a href="#"><img src="images/ads/04.jpg" alt=""></a></div>
        <div class="innerad">
          <h3><a href="#">محل جاليري احمد فؤاد للاثاث</a></h3>
          <div class="row location">
            <div class="col-xs-12 right"> مدينة نصر , القاهرة , مصر <i class="fa fa-tag" aria-hidden="true"></i></div>
            <div class="col-xs-12 right">محلات ملابس <i class="fa fa-map-marker" aria-hidden="true"></i></div>
          </div>
<!--          <div class="price">$206.90</div>-->
        </div>
      </li>
      <li class="col-md-3 col-sm-6">
        <div class="adimg"><a href="#"><img src="images/ads/01.jpg" alt=""></a></div>
        <div class="innerad">
          <h3><a href="#">محل جاليري احمد فؤاد للاثاث</a></h3>
          <div class="row location">
            <div class="col-xs-12 right"> مدينة نصر , القاهرة , مصر <i class="fa fa-tag" aria-hidden="true"></i></div>
            <div class="col-xs-12 right">محلات ملابس <i class="fa fa-map-marker" aria-hidden="true"></i></div>
          </div>
<!--          <div class="price">$206.90</div>-->
        </div>
      </li>
      <li class="col-md-3 col-sm-6">
        <div class="adimg"><a href="#"><img src="images/ads/02.jpg" alt=""></a></div>
        <div class="innerad">
          <h3><a href="#">محل جاليري احمد فؤاد للاثاث</a></h3>
          <div class="row location">
            <div class="col-xs-12 right"> مدينة نصر , القاهرة , مصر <i class="fa fa-tag" aria-hidden="true"></i></div>
            <div class="col-xs-12 right">محلات ملابس <i class="fa fa-map-marker" aria-hidden="true"></i></div>
          </div>
<!--          <div class="price">$206.90</div>-->
        </div>
      </li>
      <li class="col-md-3 col-sm-6">
        <div class="adimg"><a href="#"><img src="images/ads/03.jpg" alt=""></a></div>
        <div class="innerad">
          <h3><a href="#">محل جاليري احمد فؤاد للاثاث</a></h3>
          <div class="row location">
            <div class="col-xs-12 right"> مدينة نصر , القاهرة , مصر <i class="fa fa-tag" aria-hidden="true"></i></div>
            <div class="col-xs-12 right">محلات ملابس <i class="fa fa-map-marker" aria-hidden="true"></i></div>
          </div>
<!--          <div class="price">$206.90</div>-->
        </div>
      </li>
      <li class="col-md-3 col-sm-6">
        <div class="adimg"><a href="#"><img src="images/ads/04.jpg" alt=""></a></div>
        <div class="innerad">
          <h3><a href="#">محل جاليري احمد فؤاد للاثاث</a></h3>
          <div class="row location">
            <div class="col-xs-12 right"> مدينة نصر , القاهرة , مصر <i class="fa fa-tag" aria-hidden="true"></i></div>
            <div class="col-xs-12 right">محلات ملابس <i class="fa fa-map-marker" aria-hidden="true"></i></div>
          </div>
<!--          <div class="price">$206.90</div>-->
        </div>
      </li>
    </ul>
    <div class="viewallbtn"><a href="#">اعرض المزيد</a></div>
<!--    <div class="wideBanner margintop40"><img src="images/google-ad-wide.jpg" alt=""></div>-->
  </div>
</div>
<!-- Latest Ads end --> 
    
    <!-- Banner Starts -->
    
    <div class="banners">
        <div class="container">
            <div class="row">
                
                <div class="col-md-6 col-xs-12">
                    <div class="wideBanner margintop40  right-banner"><img src="images/google-ad-wide.jpg" alt=""></div>
                </div>

                <div class="col-md-6 col-xs-12">
                    <div class="wideBanner margintop40  left-banner"><img src="images/google-ad-wide.jpg" alt=""></div>
                </div>

                <div class="col-md-6 col-xs-12">
                    <div class="wideBanner margintop40  left-banner"><img src="images/google-ad-wide.jpg" alt=""></div>
                </div>
                
            </div>
        </div>
    </div>
    
    <!-- Banner Ends -->